<div class="container-wrap">
  <div class="content-actions">
    <span class="content-title-type">Antes de empezar, mira lo que te ofrecemos :)</span>
  </div>
</div>
<div class="container-wrap custom-wrap">
  <mat-grid-list cols="3" rowHeight="300px">
    <div class="content-start">
      <mat-grid-tile colspan="1" rowspan="1">
        <gf-render-svg svgName="popups" class="popups-svg"></gf-render-svg>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="legend-content-start">
          <h2>Validación en los campos</h2>
          <p>
            Todos los campos tienen una validación correspondiente al valor que tú mismo elijas.
          </p>
        </div>
      </mat-grid-tile>
    </div>
    <div class="content-start with-color">
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="legend-content-start">
          <h2>Variedad de tipos de datos</h2>
          <p>
            Puedes crear campos con tipo de datos diferentes, y aplican las mismas reglas de validación tal como el
            estándar HTML lo permite, además podrás agregar contenido multimedia como imagenes para que tu pregunta sea
            mas clara.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <gf-render-svg svgName="forms" class="forms-svg"></gf-render-svg>
      </mat-grid-tile>
    </div>
    <div class="content-start">
      <mat-grid-tile colspan="1" rowspan="1">
        <gf-render-svg svgName="lists" class="lists-svg"></gf-render-svg>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="legend-content-start">
          <h2>Código autogenerado</h2>
          <p>
            ¡Nosotros nos encargamos en entregarte el código final para que lo implementes dentro de tu sitio web!
          </p>
        </div>
      </mat-grid-tile>
    </div>
    <div class="content-start with-color">
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="legend-content-start">
          <h2>Variedad de temas</h2>
          <p>
            ¿No te gustan los estilos por defecto? ¡no te preocupes! nosotros te damos una amplia gama de opciones con
            combinación de colores a gusto de todas las personas.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <gf-render-svg svgName="cards" class="cards-svg"></gf-render-svg>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
<div class="container-wrap">
  <div class="content-actions">
    <span class="content-title-type">¿Cómo empezar a utilizar esta asombrosa herramienta?</span>
    <br>
    <button mat-raised-button color="primary">
      Presione aquí
    </button>
  </div>
</div>