 <br>
<button (click)="onClickPush('email')">Agregar email</button> <br><br>
<button (click)="onClickPush('text')">Agregar text</button> <br><br>
<button (click)="onClickPush('number')">Agregar number</button> <br><br>
<button (click)="onClickPush('checkbox')">Agregar checkbox</button> <br><br>
<button (click)="onClickPush('textarea')">Agregar textarea</button> <br><br>
<button (click)="onClickPush('file')">Agregar archivo</button> <br><br>
<button (click)="onClickPush('radio', ['Option 1', 'Option 2', 'Option 3'])">Agregar radio</button> <br><br>
<button (click)="onClickPush('select', ['Option 1', 'Option 2', 'Option 3'])">Agregar select</button> <br><br>
<h1></h1>
<div *ngFor="let formGroup of getForms(); let i = index">
  <b>Formulario #{{i}}</b>
  <form [formGroup]="formGroup">
    <div [ngSwitch]="typeGroups(formGroup?.value?.type)">
      <ng-template [ngSwitchCase]="1">
        <input [type]="formGroup?.value?.type" formControlName="value" />
      </ng-template>
      <ng-template [ngSwitchCase]="2">
        <textarea formControlName="value"></textarea>
      </ng-template>
      <ng-template [ngSwitchCase]="3">
        <div *ngFor="let option of formGroup?.value?.args">
          <label>{{option}}</label>
          <input
            type="radio"
            [id]="formGroup?.value?.name"
            formControlName="value"
            [value]="option"
          />
        </div>
        <br />
      </ng-template>
      <ng-template [ngSwitchCase]="4">
        <select formControlName="value">
          <option
            *ngFor="let option of formGroup?.value?.args" [value]="option" >
            {{option}}
          </option>
        </select>
        <br />
      </ng-template>
    </div>

    <br />
    Valid: {{ formGroup.valid }}, {{ formGroup.value | json }}
  </form>
  <br />
  <button (click)="deleteForm(i)">
    Delete form
  </button>
</div>
<br><br> 
<div class="codigo">
  <code>
    {{ generateCode() || 'Nulo' }}
  </code>
</div>

<br /><br />
