
.codigo{
    margin-left: 0%;
    padding: 0%;
    background-color: black;
    color: white;
    width: 100%;
    text-align: justify;
}
.selectP{
    width: 80%;
}
.boton{
    align-items: center;
}
.home-container {
    background-color: #fefefe;
    margin: 1rem;
    padding: 1rem;
    /* IMPORTANTE */
    text-align: center;
  }