div{
    margin-left: 5%;
}
.codigo{
    margin-left: 0%;
    padding: 0%;
    background-color: black;
    color: white;
    width: 100%;
    text-align: justify;
}
.selectP{
    width: 80%;
    margin-left: 10%;
}
.boton{
    align-items: center;
}