<div class="home-container">
  <div class="home-content">
    <br><br>
    <mat-form-field appearance="fill" class="selectP">
      <mat-label>Elige tipo de componente a ingresar</mat-label>
      <select matNativeControl required [formControl]="selectP">
        <option value="text">Texto</option>
        <option value="password">Contrase~a</option>
        <option value="number">Número</option>
        <option value="email">Correo electronico</option>
        <option value="file">Archivo</option>
        <option value="textarea">Area de texto</option>
        <option value="check">Checkbox</option>
        <option value="radio">Radiobutton</option>
        <option value="select">Combobox</option>
      </select>
      <mat-error *ngIf="selectP.hasError('required')"> Elija una opción </mat-error>
    </mat-form-field>
    <br>
    <div>Aqui cargaria el componente</div>
    <br>
    <button class="boton">Insertar componente</button>
    <div *ngFor="let formGroup of getForms(); let i = index">
      <b>Formulario #{{i}}</b>
      <form [formGroup]="formGroup">
        <div [ngSwitch]="typeGroups(formGroup?.value?.type)">
          <ng-template [ngSwitchCase]="1">
            <input [type]="formGroup?.value?.type" formControlName="value" />
          </ng-template>
          <ng-template [ngSwitchCase]="2">
            <textarea formControlName="value"></textarea>
          </ng-template>
          <ng-template [ngSwitchCase]="3">
            <div *ngFor="let option of formGroup?.value?.args">
              <label>{{option}}</label>
              <input type="radio" [id]="formGroup?.value?.name" formControlName="value" [value]="option" />
            </div>
            <br />
          </ng-template>
          <ng-template [ngSwitchCase]="4">
            <select formControlName="value">
              <option *ngFor="let option of formGroup?.value?.args" [value]="option">
                {{option}}
              </option>
            </select>
            <br />
          </ng-template>
        </div>

        <br />
        Valid: {{ formGroup.valid }}, {{ formGroup.value | json }}
      </form>
      <br />
      <button (click)="deleteForm(i)">
        Delete form
      </button>
    </div>
    <br><br>
    <div class="codigo">
      <code>
    {{ generateCode() || 'Nulo' }}
  </code>
    </div>

    <br /><br />
  </div>
</div>