@import "src/styles/variables";
@import "src/styles/flexbox";

.get-started-btn, .about-us-btn {
  margin-right: 10px;
}

.toolbar-custom-size {
  height: $toolbar-height;
}

@media only screen and (max-width: 400px) {
  .get-started-btn {
    display: none;
  }
}

.entity-name {
  cursor: pointer;
}