<mat-toolbar class="mat-elevation-z1 toolbar-custom-size" color="primary">
  <span class="entity-name" routerLink="/">
    <b>Gugul Forms</b>
  </span>
  <span class="flex-spacer"></span>
  <button mat-raised-button class="get-started-btn" routerLink="start">
    <span>Presentacion</span>
  </button>
  <button mat-stroked-button class="app-btn" routerLink="app">
    <span>Comenzar ya</span>
  </button>
  <button mat-stroked-button class="about-us-btn" routerLink="about">
    <span>Nosotros</span>
  </button>
  <button mat-stroked-button class="contact-btn" routerLink="contact">
    <span>Contáctanos</span>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>