body{
    background-color: white;
}
input,textarea {
    outline: none;
    background-color: white;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #000;
}
.form-actions{
    text-align: center;
    margin-top: 3%;
}
.form-item{
    margin-top: 1%;
}
input[type="checkbox"]{
    width: 2% !important;
}
button{
    background:#7f8c8d;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
    box-shadow:0px 3px 0px #373c3c;
    width:350px;
    border-radius:50px;
}