:root {
  --input-border-color: white;
  --input-background-color:white;
  --label-color: white;
  --form-body-background:  #464646;
  --button-submit-background: white ;
  --button-submit-color: #363636;
}

.form-body {
  padding: 10px;
  margin: 15px;
  background-color: var(--form-body-background);
  border-radius: 10px;
}

div.form-item {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 98%;
  background-color: transparent;
}

div.form-item label {
  display: block;
  font-family: arial;
  color: var(--label-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 15px;
  font-size: 0.7em;
  font-weight: bold;
}

input[mfw-form-input-type],
textarea[mfw-form-textarea-type] {
  padding: 10px;
  border: 2px solid var(--input-border-color);
  outline-style: none;
  border-radius: 5px;
  width: 100%;
  background-color: var(--input-background-color);
}

div.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 5px;
}

button[mfw-form-submit] {
  outline-style: none;
  background-color: var(--button-submit-background);
  color: var(--button-submit-color);
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none;
  cursor: pointer;
}
