<div class="code-container">
  <div class="code-content">
    <code>
      {{ completeFormHtmlCode }}
    </code>
  </div>
  <div class="theme-form">
    <mat-form-field class="form-50" appearance="outline">
      <mat-label>Tema del formulario</mat-label>
      <mat-select [formControl]="themeFormControl" (valueChange)="onThemeValueChanges($event)">
        <mat-option *ngFor="let theme of themeOptions" [value]="theme">
          {{theme.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="code-actions">
    <button mat-raised-button (click)="preview()">
      Vista previa
    </button>
    <button mat-raised-button color="primary" [cdkCopyToClipboard]="completeFormHtmlCode" (click)="copyClipboard()">
      Copiar al portapapeles
    </button>
  </div>
</div>
