<div class="home-container">
  <div class="home-content">
    <span class="content-bold-text">Crea tus formularios de la manera mas creativa</span>
    <p class="content-legend">
      Ahora con <code>Gugul Forms</code> puedes crear de forma dinámica tus formularios para tu sitio web con pocos
      clics.
      <br>
      ¡Únete y conoce la forma más fácil de trabajar con la web moderna!
    </p>
    <div class="content-actions">
      <button mat-raised-button color="primary" routerLink='start'>
        <span>Comenzar ya</span>
      </button>
    </div>
  </div>
  <div class="svg-resources">
    <gf-render-svg svgName="forms" class="form-svg-image"></gf-render-svg>
    <gf-render-svg svgName="modals" class="modal-svg-image"></gf-render-svg>
    <gf-render-svg svgName="lists" class="list-svg-image"></gf-render-svg>
  </div>
</div>