@import "src/styles/variables";

.contact-btn{
    background-color: #3f51b5;
    color: #fefefe;
    transform: scale(1.5);
}
.home-container {
  background-color: #fefefe;
  margin: 1rem;
  padding: 1rem;
  /* IMPORTANTE */
  text-align: center;
}
.home-content{
    margin-top: 10%;
}
.input-name, .input-email, .input-mensaje{
    width: 75%;
}