<p>
    <mat-card>
        <span class="span-name">{{ dev.name }}</span> <br>
        <span class="span-desc">{{ dev.description }}</span> <br>
        <img src="{{ dev.photo }}" alt="" srcset="" width="100" height="100"><br>
        <a href="https://api.whatsapp.com/send?phone=50371716161&text=Buenas%20necesito%20una%20pagina%20web,%20hecha%20de%20Angular%2010" target="_blank" rel="noopener noreferrer">	<mat-icon>phone_in_talk</mat-icon></a>
        <a href="mailto:correoPersonal@correo.com" target="_blank" rel="noopener noreferrer"><mat-icon>mail</mat-icon></a>
        <a href="{{ dev.github }}" target="_blank" rel="noopener noreferrer"><mat-icon>code</mat-icon></a>
    </mat-card>
</p>